ol,ul {
    box-sizing: border-box
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}
html :where([style*=border-bottom-width]) {
    border-bottom-style: solid
}
html :where(img[class*=wp-image-]) {
    height: auto;
    max-width: 100%
}
.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal!important
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em .5em 1em;
    padding: .2em 1em;
    border: 2px solid #00a0d2
}

.wpcf7 form.init .wpcf7-response-output,.wpcf7 form.resetting .wpcf7-response-output,.wpcf7 form.submitting .wpcf7-response-output {
    display: none
}

.wpcf7-form-control-wrap {
    position: relative
}
.wpcf7 input[type="url"],.wpcf7 input[type="email"],.wpcf7 input[type="tel"] {
    direction: ltr
}
#respond input[type=text],#respond textarea,.eltdf-style-form textarea,.post-password-form input[type=password],.wpcf7-form-control.wpcf7-date,.wpcf7-form-control.wpcf7-number,.wpcf7-form-control.wpcf7-quiz,.wpcf7-form-control.wpcf7-select,.wpcf7-form-control.wpcf7-text,.wpcf7-form-control.wpcf7-textarea,input[type=email],input[type=password],input[type=text] {
    position: relative;
    width: 100%;
    margin: 0 0 25px;
    padding: 3px 7px;
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    line-height: calc(28px - (6px - 2px));
    color: #383838;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #b3b3b3;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out
}
#respond input[type=text]::-webkit-input-placeholder,#respond textarea::-webkit-input-placeholder,.eltdf-style-form textarea::-webkit-input-placeholder,.post-password-form input[type=password]::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-date::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-number::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-quiz::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-select::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-text::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-textarea::-webkit-input-placeholder,input[type=email]::-webkit-input-placeholder,input[type=password]::-webkit-input-placeholder,input[type=text]::-webkit-input-placeholder {
    font-family: "Alegreya Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62em;
    letter-spacing: 0;
    color: #5f5f5f;
    background-color: #fff;
    -webkit-font-smoothing: antialiased
}
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var {
    background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,nav,section {
    display: block
}
a img {
    border: none
}

.wp-caption,img {
    height: auto;
    max-width: 100%
}
.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}
html {
    overflow-y: scroll!important
}

body {
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.58em;
    letter-spacing: 0;
    color: #5f5f5f;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden!important
}

h1 {
    font-family: "EB Garamond";
    font-size: 51px;
    line-height: 1.15em;
    letter-spacing: .16em
}

h2 {
    font-family: "EB Garamond";
    font-size: 40px;
    line-height: 1.17em;
    letter-spacing: .16em
}

h3 {
    font-family: "EB Garamond";
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: .16em
}

h4 {
    font-family: "EB Garamond";
    font-size: 27px;
    line-height: 1.33em;
    letter-spacing: .16em
}

h5 {
    font-family: "EB Garamond";
    font-size: 22px;
    line-height: 1.31em;
    letter-spacing: .16em;
    font-weight: 400
}

h6 {
    font-family: "EB Garamond";
    font-size: 20px;
    line-height: 1.35em;
    letter-spacing: .16em;
    font-weight: 400
}

h1,h2,h3,h4,h5,h6 {
    color: #525252;
    font-family: "EB Garamond";
    margin: 25px 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #525252;
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit
}

a,p a {
    color: #5f5f5f;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out
}
p {
    margin: 10px 0
}

ol,ul {
    list-style-position: inside;
    margin: 15px 0
}
::selection {
    background: #c9ab81;
    color: #fff
}
.text-align-left {
    text-align: left
}
.eltdf-wrapper {
    position: relative;
    left: 0;
    z-index: 1000;
    -webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -o-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    transition: left .33s cubic-bezier(.694,.0482,.335,1)
}

.eltdf-wrapper .eltdf-wrapper-inner {
    width: 100%;
    overflow: hidden
}

.eltdf-content {
    position: relative;
    margin-top: 0;
    background-color: #fff;
    z-index: 100
}
.eltdf-full-width {
    position: relative;
    z-index: 100
}

.eltdf-content .eltdf-content-inner>.eltdf-container>.eltdf-container-inner,.eltdf-content .eltdf-content-inner>.eltdf-full-width>.eltdf-full-width-inner {
    padding-top: 70px;
    padding-bottom: 40px
}
.eltdf-grid {
    margin: 0 auto;
    width: 1100px
}

.eltdf-vertical-align-containers {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.eltdf-vertical-align-containers .eltdf-position-left {
    position: relative;
    height: 100%;
    float: left;
    z-index: 2
}
.eltdf-vertical-align-containers .eltdf-position-right {
    position: relative;
    height: 100%;
    float: right;
    text-align: right;
    z-index: 2
}

.eltdf-vertical-align-containers .eltdf-position-center-inner,.eltdf-vertical-align-containers .eltdf-position-left-inner,.eltdf-vertical-align-containers .eltdf-position-right-inner {
    display: inline-block;
    vertical-align: middle
}

.eltdf-vertical-align-containers .eltdf-position-right-inner .eltdf-btn-text,.eltdf-vertical-align-containers .eltdf-position-right-inner a {
    color: #525252
}

.eltdf-vertical-align-containers .eltdf-position-center:before,.eltdf-vertical-align-containers .eltdf-position-left:before,.eltdf-vertical-align-containers .eltdf-position-right:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0
}

.last_toggle_el_margin,.wpb_button,.wpb_content_element,.wpb_row,ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0!important
}
.eltdf-row-grid-section {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 20
}

.eltdf-content-aligment-left {
    text-align: left
}
.eltdf-tiny-space .eltdf-outer-space {
    margin: 0 -5px
}

.eltdf-tiny-space .eltdf-outer-space .eltdf-item-space {
    padding: 0 5px;
    margin: 0 0 10px
}

.eltdf-tiny-space.eltdf-disable-bottom-space {
    margin-bottom: -10px
}
.eltdf-normal-space .eltdf-outer-space {
    margin: 0 -15px
}

.eltdf-normal-space .eltdf-outer-space .eltdf-item-space {
    padding: 0 15px;
    margin: 0 0 30px
}

.eltdf-normal-space.eltdf-disable-bottom-space {
    margin-bottom: -30px
}

.eltdf-grid-list .eltdf-item-space {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-grid-list:not(.eltdf-one-columns) .eltdf-item-space {
    float: left
}
.eltdf-grid-list.eltdf-three-columns .eltdf-item-space {
    width: 33.33333%
}
.eltdf-grid-row {
    margin-left: -15px;
    margin-right: -15px
}

.eltdf-grid-row:after,.eltdf-grid-row:before {
    content: " ";
    display: table
}

.eltdf-grid-row:after {
    clear: both
}
.eltdf-grid-col-4 {
    position: relative;
    float: left;
    width: 33.33333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-grid-col-4:after,.eltdf-grid-col-4:before {
    content: " ";
    display: table
}

.eltdf-grid-col-4:after {
    clear: both
}

@media only screen and (max-width: 1024px) {
    .eltdf-grid-col-4 {
        width:100%;
        float: none
    }
}
.eltdf-grid-col-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-grid-col-12:after,.eltdf-grid-col-12:before {
    content: " ";
    display: table
}

.eltdf-grid-col-12:after {
    clear: both
}

@media only screen and (max-width: 1024px) {
    .eltdf-grid-col-12 {
        width:100%;
        float: none
    }
}
.wpcf7-form-control.wpcf7-date::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-number::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-quiz::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-select::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-text::-webkit-input-placeholder,.wpcf7-form-control.wpcf7-textarea::-webkit-input-placeholder {
    background-color: transparent
}


footer .wpcf7-form-control.wpcf7-date,footer .wpcf7-form-control.wpcf7-number,footer .wpcf7-form-control.wpcf7-quiz,footer .wpcf7-form-control.wpcf7-select,footer .wpcf7-form-control.wpcf7-text,footer .wpcf7-form-control.wpcf7-textarea {
    margin: 0
}

.eltdf-newsletter-form-single p button,.eltdf-newsletter-form-single p>label {
    display: inline-block;
    vertical-align: bottom
}

.eltdf-newsletter-form-single p>label {
    width: calc(100% - 215px);
    margin-right: 43px
}

.eltdf-newsletter-form-single .wpcf7-form-control.wpcf7-text {
    margin-bottom: 0;
    padding: 3px 7px
}

@media only screen and (max-width: 680px) {
    .eltdf-newsletter-form-single>label {
        width:100%;
        margin-right: 0
    }

    .eltdf-newsletter-form-single button {
        margin-top: 30px
    }
}
.wpcf7-form p,p.form-submit {
    margin: 0
}
#eltdf-back-to-top {
    position: fixed;
    width: 41px;
    right: 25px;
    bottom: 25px;
    margin: 0;
    z-index: 10000;
    opacity: 0;
    visibility: hidden
}
#eltdf-back-to-top>span {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #5f5f5f;
    background-color: #373737;
    overflow: hidden;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out
}

#eltdf-back-to-top>span .qodef-svg-nav-arrow {
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotateZ(-90deg);
    width: 16px;
    height: 16px;
    stroke: #fff;
    top: 6px;
    position: relative;
    stroke-width: 1.6px
}
.qodef-svg-nav-arrow {
    cursor: pointer
}

.qodef-svg-nav-arrow polyline:nth-of-type(1) {
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .4s cubic-bezier(.49,.48,1,1);
    -o-transition: .4s cubic-bezier(.49,.48,1,1);
    transition: .4s cubic-bezier(.49,.48,1,1)
}

.qodef-svg-nav-arrow polyline:nth-of-type(2) {
    stroke-dasharray: 40;
    stroke-dashoffset: 0;
    -webkit-transition: .4s .4s cubic-bezier(.49,.64,1,1);
    -o-transition: .4s .4s cubic-bezier(.49,.64,1,1);
    transition: .4s .4s cubic-bezier(.49,.64,1,1)
}
.widget {
    margin: 0 0 35px
}

.widget:last-child {
    margin-bottom: 0!important
}

.widget .eltdf-widget-title {
    margin: 0 0 13px
}
.widget a {
    color: #5f5f5f
}
.widget ul:not(.eltdf-shortcode-list) {
    padding: 0;
    margin: 0;
    list-style: none
}
.widget.widget_text img {
    display: block
}
.widget.widget_media_image a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.widget.widget_media_image a,.widget.widget_media_image img {
    display: block
}
.eltdf-page-footer .widget {
    margin: 0 0 35px;
    color: #ccc
}

.eltdf-page-footer .widget:last-child {
    margin-bottom: 0!important
}

.eltdf-page-footer .widget .eltdf-widget-title {
    margin: 0 0 37px;
    color: #fff
}
.eltdf-page-footer .widget a {
    color: #ccc
}
.eltdf-page-footer .widget ul:not(.eltdf-shortcode-list) {
    padding: 0;
    margin: 0;
    list-style: none
}
.eltdf-page-footer .widget.widget_text img {
    display: block
}

.eltdf-side-menu .widget {
    margin: 0 0 35px;
    color: #fff
}

.eltdf-side-menu .widget:last-child {
    margin-bottom: 0!important
}
.eltdf-side-menu .widget a {
    color: #fff
}
.eltdf-side-menu .widget.widget_media_image {
    margin-bottom: 0
}
.eltdf-side-menu .widget.widget_media_image a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.eltdf-side-menu .widget.widget_media_image a,.eltdf-side-menu .widget.widget_media_image img {
    display: block
}
.eltdf-blog-list-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    clear: both
}

.eltdf-blog-list-holder .eltdf-blog-list {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0
}

.eltdf-blog-list-holder .eltdf-bl-item {
    padding: 0;
    margin: 0
}

.eltdf-blog-list-holder .eltdf-bli-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-blog-list-holder .eltdf-bli-content {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-blog-list-holder .eltdf-post-image {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0 0 -75px;
    overflow: hidden
}

.eltdf-blog-list-holder .eltdf-post-image a {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.eltdf-blog-list-holder .eltdf-post-image img {
    display: block;
    width: 100%;
    -webkit-transition: .5s cubic-bezier(.3,.85,.41,.81);
    -o-transition: .5s cubic-bezier(.3,.85,.41,.81);
    transition: .5s cubic-bezier(.3,.85,.41,.81);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-transform: scale(1.02) translateX(-3px);
    -ms-transform: scale(1.02) translateX(-3px);
    transform: scale(1.02) translateX(-3px)
}
.eltdf-blog-list-holder .eltdf-bli-info {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    clear: both;
    background-color: #f8f8f8;
    width: calc(100% - 61px)
}

.eltdf-blog-list-holder .eltdf-bli-info>div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 1.2;
    float: left;
    padding: 0 20px 5px 0
}

.eltdf-blog-list-holder .eltdf-bli-info>div:last-child {
    padding: 19px 0 8px
}

.eltdf-blog-list-holder .eltdf-bli-info>div a {
    font-family: "EB Garamond";
    font-size: 21px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.47em;
    letter-spacing: 0;
    color: #c9ab81;
    font-size: 17px
}

.eltdf-blog-list-holder .eltdf-bli-title {
    margin: 0;
    background-color: #f8f8f8;
    width: calc(100% - 61px)
}

.eltdf-blog-list-holder .eltdf-post-title {
    margin: 0;
    line-height: 1.4em
}

.eltdf-blog-list-holder .eltdf-post-excerpt {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 13px 0 0
}

.eltdf-blog-list-holder .eltdf-post-read-more-button {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-size: 13px;
    line-height: 2.15em;
    letter-spacing: .07em;
    font-family: "Open Sans";
    color: #383737;
    margin: 31px 0 25px
}

.eltdf-blog-list-holder .eltdf-post-read-more-button a {
    text-transform: none;
    font-size: 13px;
    line-height: 2.15em;
    letter-spacing: .07em;
    font-weight: 600;
    font-family: "Open Sans";
    color: #383737
}

.eltdf-blog-list-holder .eltdf-post-read-more-button a:before {
    content: "";
    width: 34px;
    display: inline-block;
    height: 1px;
    background-color: #c9ab81;
    margin-bottom: .25em;
    margin-right: 10px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.eltdf-blog-list-holder .eltdf-post-read-more-button a:after {
    content: "";
    width: 34px;
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #c9ab81;
    margin-bottom: .25em;
    margin-right: 10px;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition: .3s .2s;
    -o-transition: .3s .2s;
    transition: .3s .2s
}
@media only screen and (max-width: 680px) {
    .eltdf-blog-list-holder .eltdf-post-read-more-button {
        margin:31px 0 25px
    }
}
.eltdf-page-footer {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    z-index: 100;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-page-footer a,.eltdf-page-footer p {
    color: #fff
}
.eltdf-page-footer .widget a {
    color: #fff
}
.eltdf-page-footer .eltdf-footer-top-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #383838;
    border-top: 0 solid #e1e1e1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-alignment-left {
    text-align: left
}
.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner.eltdf-grid {
    padding: 116px 0
}
.eltdf-page-footer .eltdf-footer-bottom-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #383838;
    border-top: 0 solid #e1e1e1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner.eltdf-grid {
    padding: 19px 0
}

.eltdf-page-header {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    z-index: 110;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.eltdf-mobile-header {
    position: relative;
    display: none;
    z-index: 110
}

.eltdf-mobile-header .eltdf-mobile-header-inner {
    position: relative;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-mobile-header .eltdf-mobile-header-inner .eltdf-mobile-header-holder {
    position: relative;
    z-index: 2;
    height: 100%
}

.eltdf-mobile-header .eltdf-grid {
    height: 100%
}

.eltdf-mobile-header .eltdf-vertical-align-containers {
    padding: 0
}

.eltdf-mobile-header .eltdf-vertical-align-containers .eltdf-position-right {
    max-width: 80%
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper a {
    display: block
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper img {
    display: block;
    height: 100%;
    width: auto
}

.eltdf-mobile-header .eltdf-mobile-menu-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 2
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a {
    display: table;
    height: 100%
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a>* {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    line-height: 1em
}
.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon>* {
    vertical-align: middle
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon path,.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon>* {
    fill: currentColor;
    stroke: currentColor
}
.eltdf-mobile-header .eltdf-mobile-nav {
    display: none;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1
}
.eltdf-side-menu {
    position: fixed;
    top: 0;
    right: -405px;
    width: 405px;
    height: 100%;
    min-height: 100%;
    padding: 110px 50px 36px;
    background-color: #f8f8f8;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: -3px 0 3px rgba(0,0,0,.04);
    box-shadow: -3px 0 3px rgba(0,0,0,.04);
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -o-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1)
}

.eltdf-side-menu .widget {
    color: #a4a4a4
}
.eltdf-side-menu .widget a {
    color: #525252
}

.eltdf-side-menu a.eltdf-close-side-menu {
    position: absolute;
    top: 38px;
    right: 45px;
    display: block;
    z-index: 1000;
    color: #383838
}
.eltdf-side-menu-slide-from-right .eltdf-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 1000;
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -o-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1)
}
.eltdf-side-menu-slide-from-right footer.eltdf-footer-uncover {
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -o-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1)
}
@media only screen and (max-width: 1440px) {
    .eltdf-side-menu-slide-from-right .eltdf-side-menu {
        padding:65px 40px 30px 40px
    }
}

@media only screen and (max-width: 1280px) {
    .eltdf-side-menu-slide-from-right .eltdf-side-menu {
        padding:60px 42px 30px 41px
    }
}
.eltdf-fullscreen-search-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
    opacity: 0
}

.eltdf-fullscreen-search-holder .eltdf-fullscreen-search-table {
    display: table;
    width: 100%;
    height: 100%
}

.eltdf-fullscreen-search-holder .eltdf-fullscreen-search-cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 12;
    pointer-events: none;
    cursor: none
}
.eltdf-fullscreen-search-holder .eltdf-fullscreen-search-inner {
    position: relative;
    z-index: 1256
}

.eltdf-fullscreen-search-holder .eltdf-fullscreen-search-cell {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 20px
}

.eltdf-fullscreen-search-holder .eltdf-form-holder-inner {
    position: relative;
    width: 30%;
    margin: auto
}

.eltdf-fullscreen-search-holder .eltdf-form-holder-inner .eltdf-line {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: 1px solid #e1e1e1;
    -webkit-transition: all .3s .2s;
    -o-transition: all .3s .2s;
    transition: all .3s .2s
}
.eltdf-fullscreen-search-holder .eltdf-field-holder {
    display: block;
    position: relative
}

.eltdf-fullscreen-search-holder .eltdf-search-field {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "EB Garamond";
    font-size: 21px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.47em;
    letter-spacing: 0;
    color: #c9ab81;
    color: #a4a4a4;
    font-size: 21px;
    background: 0 0;
    border: 0;
    border-radius: 0;
    outline: 0
}
.eltdf-fullscreen-search-holder .eltdf-search-field::-webkit-input-placeholder {
    background-color: transparent;
    font-family: "EB Garamond";
    font-size: 21px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.47em;
    letter-spacing: 0;
    color: #c9ab81;
    color: #a4a4a4;
    font-size: 21px
}
.eltdf-fullscreen-search-holder .eltdf-search-submit {
    position: absolute;
    right: 0;
    bottom: 6px!important;
    width: auto;
    color: #5f5f5f;
    background-color: transparent;
    border: none;
    outline: 0;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .3s .2s;
    -o-transition: all .3s .2s;
    transition: all .3s .2s
}
.eltdf-fullscreen-search-holder .eltdf-search-submit.eltdf-search-submit-svg-path path,.eltdf-fullscreen-search-holder .eltdf-search-submit.eltdf-search-submit-svg-path>* {
    fill: transparent;
    stroke: currentColor
}

.eltdf-fullscreen-search-holder .eltdf-search-close {
    position: absolute;
    top: 78px;
    right: 84px;
    color: #5f5f5f;
    opacity: 0;
    visibility: hidden!important;
    z-index: 1
}
.eltdf-fullscreen-search-holder .eltdf-search-close.eltdf-search-close-svg-path>* {
    vertical-align: middle
}

.eltdf-fullscreen-search-holder .eltdf-search-close.eltdf-search-close-svg-path path,.eltdf-fullscreen-search-holder .eltdf-search-close.eltdf-search-close-svg-path>* {
    fill: currentColor;
    stroke: currentColor
}
.eltdf-search-fade .eltdf-fullscreen-search-holder {
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    z-index: 112;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.eltdf-search-fade .eltdf-fullscreen-search-holder .eltdf-fullscreen-search-table {
    background-color: #fff
}
.widget.eltdf-separator-widget {
    margin: 0!important
}

.eltdf-social-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0
}

.eltdf-social-icon-widget-holder .eltdf-social-icon-widget {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit
}
.eltdf-social-icons-group-widget .eltdf-social-icon-widget-holder {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    text-align: center
}

.eltdf-social-icons-group-widget .eltdf-social-icon-widget-holder:first-child {
    margin-left: 0
}

.eltdf-social-icons-group-widget .eltdf-social-icon-widget-holder:last-child {
    margin-right: 0
}
.eltdf-accordion-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-accordion-holder .eltdf-accordion-title {
    position: relative;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color .2s ease-out,background-color .2s ease-out;
    -o-transition: color .2s ease-out,background-color .2s ease-out;
    transition: color .2s ease-out,background-color .2s ease-out
}
.eltdf-accordion-holder .eltdf-accordion-title .eltdf-tab-title {
    display: block;
    line-height: inherit
}

.eltdf-accordion-holder .eltdf-accordion-title .eltdf-accordion-mark {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 18px;
    margin: -1px 0 0;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.eltdf-accordion-holder .eltdf-accordion-title .eltdf-accordion-mark span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    font-size: inherit;
    line-height: inherit;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}

.eltdf-accordion-holder .eltdf-accordion-title .eltdf-accordion-mark span:before {
    display: block;
    line-height: inherit
}

.eltdf-accordion-holder .eltdf-accordion-title .eltdf-accordion-mark span.eltdf_icon_minus {
    opacity: 0
}

.eltdf-accordion-holder .eltdf-accordion-title .eltdf-accordion-mark span.eltdf_icon_plus {
    opacity: 1
}
.eltdf-accordion-holder .eltdf-accordion-content {
    margin: 0
}

.eltdf-accordion-holder .eltdf-accordion-content p {
    margin: 0
}
.eltdf-accordion-holder.eltdf-ac-boxed .eltdf-accordion-title {
    margin: 15px 0 0;
    padding: 13px 20px 13px 40px;
    background-color: #f7f7f9
}

.eltdf-accordion-holder.eltdf-ac-boxed .eltdf-accordion-title:first-child {
    margin: 0
}

.eltdf-accordion-holder.eltdf-ac-boxed .eltdf-accordion-title .eltdf-accordion-mark {
    left: 10px
}
.eltdf-accordion-holder.eltdf-ac-boxed .eltdf-accordion-content {
    padding: 21px 0 6px
}
.eltdf-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: .07em;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    padding: 8px 43px 10px;
    cursor: pointer
}

.eltdf-btn.eltdf-btn-simple {
    padding: 0!important;
    background-color: transparent;
    border: 0;
    vertical-align: middle;
    text-transform: none;
    font-size: 13px;
    line-height: 2.15em;
    letter-spacing: .07em;
    font-family: "Open Sans";
    color: #383737
}

.eltdf-btn.eltdf-btn-simple:not(.eltdf-btn-icon):before {
    content: "";
    width: 34px;
    display: inline-block;
    height: 1px;
    background-color: #c9ab81;
    margin-bottom: .25em;
    margin-right: 6px;
    -webkit-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out
}

.eltdf-btn.eltdf-btn-simple .eltdf-btn-text {
    display: inline-block;
    vertical-align: middle
}
.eltdf-btn.eltdf-btn-outline {
    color: #525252;
    background-color: transparent;
    border: 1px solid #c9ab81
}
.eltdf-btn.eltdf-btn-outline .eltdf-btn-text {
    vertical-align: text-top
}

.eltdf-btn.eltdf-btn-outline-slit {
    color: #525252;
    background-color: transparent;
    border: 1px solid #c9ab81;
    border: 1px solid transparent!important
}
.eltdf-btn.eltdf-btn-outline-slit .eltdf-btn-text {
    vertical-align: text-top
}
.eltdf-btn.eltdf-btn-large {
    padding: 10.5px 53px
}
.eltdf-elements-holder {
    width: 100%;
    display: table;
    table-layout: fixed
}
.eltdf-elements-holder.eltdf-two-columns .eltdf-eh-item {
    width: 50%
}
.eltdf-elements-holder .eltdf-eh-item {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-position: center;
    background-size: cover
}
.eltdf-iwt {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-iwt .eltdf-iwt-icon a {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.eltdf-iwt .eltdf-iwt-icon .eltdf-icon-shortcode {
    line-height: 1
}
.eltdf-iwt .eltdf-iwt-title {
    margin: 0;
    line-height: 1.2em
}

.eltdf-iwt .eltdf-iwt-title a {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.eltdf-iwt .eltdf-iwt-title-text {
    display: block
}

.eltdf-iwt .eltdf-iwt-text {
    margin: 20px 0 0
}

.eltdf-iwt.eltdf-iwt-icon-left {
    width: auto
}

.eltdf-iwt.eltdf-iwt-icon-left .eltdf-iwt-content,.eltdf-iwt.eltdf-iwt-icon-left .eltdf-iwt-icon {
    display: table-cell;
    vertical-align: top
}

.eltdf-iwt.eltdf-iwt-icon-left .eltdf-iwt-icon {
    position: relative;
    top: 1px
}
.eltdf-iwt.eltdf-iwt-icon-left .eltdf-iwt-content {
    padding: 0 0 0 13px
}
.eltdf-side-menu .eltdf-iwt .eltdf-iwt-icon a {
    margin-top: 2px
}

.eltdf-icon-shortcode {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1em
}

.eltdf-icon-shortcode .eltdf-icon-element {
    display: block;
    line-height: inherit;
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out
}

.eltdf-icon-shortcode .eltdf-icon-element:before {
    display: block;
    line-height: inherit
}
.eltdf-icon-medium {
    font-size: 3em
}

.eltdf-image-gallery {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}
.eltdf-image-gallery .eltdf-ig-image a,.eltdf-image-gallery .eltdf-ig-image img {
    position: relative;
    display: block
}

.eltdf-image-gallery .eltdf-ig-image-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}
.eltdf-image-gallery.eltdf-image-behavior-custom-link .eltdf-ig-image a:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(56,56,56,.4);
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}
.eltdf-image-with-text-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}
.eltdf-image-with-text-holder .eltdf-iwt-image {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-image-with-text-holder .eltdf-iwt-image a,.eltdf-image-with-text-holder .eltdf-iwt-image img {
    position: relative;
    display: block
}

.eltdf-image-with-text-holder .eltdf-iwt-text-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-image-with-text-holder .eltdf-iwt-title {
    margin: 32px 0 19px;
    text-align: center
}
.eltdf-image-with-text-holder .eltdf-iwt-text {
    margin: 14px 0 0
}
.eltdf-image-with-text-holder.eltdf-image-behavior-custom-link .eltdf-iwt-image a:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(56,56,56,.4);
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}
